* {
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: rgba(16, 18, 19, 0.4);
    color: #cdd6f4;
}

#workspaces {
    background: #0c0e0f;
    margin: 5px;
    padding: 8px 5px;
    border-radius: 16px;
}

#workspaces button {
    padding: 0 5px;
    margin: 0 3px;
    border-radius: 16px;
    color: #2f354a;
    background-color: #2f354a;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active,
#workspaces button:hover {
    color: #cdd6f4;
    background-color: #cdd6f4;
}

#workspaces button.active {
    min-width: 50px;
}

#clock,
#cpu,
#idle_inhibitor,
#memory,
#pulseaudio,
#temperature,
#window,
.custom-spotify {
    padding: 0 5px;
    margin: 0 5px;
}

.modules-left,
.modules-right {
    background: #0c0e0f;
    margin: 5px;
    padding: 8px 5px;
    border-radius: 16px;
}
