* {
    outline-style: none;
}

window {
    background-color: #0c0e0f;
    color: #cdd6f4;
    border-radius: 16px;
}

#input {
    margin: 8px;
    border: none;
    background-color: #cdd6f4;
    color: #0c0e0f;
    border-radius: 8px;
}

#inner-box {
    margin: 8px;
}

#outer-box {
    margin: 8px;
}

#entry {
    border: none;
    padding: 5px;
    border-radius: 8px;
}

#entry:focus {
    border: none;
    background-color: #2f354a;
}

#entry:selected {
    border: none;
    background-color: #2f354a;
}

#text {
    padding: 0 5px;
}
